*{
    display: block;
}
div{
    display: block; /* What others did */
}
body{
    margin: 0;
}
.container{
    max-width: 80%;
    margin: auto;
}
#header-top{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px;
}
.header.links{
    display: flex;
    gap: 20px;
}
.header.links a{
    color: white;
    text-decoration: none;
}

.bg-c-dark{
    background-color: #1f2937;
}
.banner-container{
    color: white;
}